/* nav styles */
.navbar {
  color: white;
  width: 100%;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(106, 1, 1, 0.302) 50%);
}

.scrolled {
  background: var(--main-color);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  height: 80px;
}

.nav-left .logo-img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-right: 40px;
  border: 1px solid transparent;
  padding: 0.3rem;
  background: rgb(37, 30, 30);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  transition: var(--transition);
}
.nav-left .logo-img:hover {
  background: #383838;
  transition: var(--transition);
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
.profile-img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: var(--transition);
}

.icon {
  margin: 0px 15px;
  cursor: pointer;
  z-index: 10;
}
.icon:nth-child(3){
  color: red;
  font-size: 1.8rem;

}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: var(--transition);
  z-index: 1;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 0px;
  width: 150px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 4.5rem;
  background: rgb(49, 6, 6);
  transition: var(--transition);
}
.profile .icon {
  width: 40px;
  height: 40px;
  margin-left: 100%;
  border-radius: 50%;
  background: rgb(3, 3, 3);
  padding: 0.1rem;
  transition: var(--transition);
}
.profile .icon:hover {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.profile:hover .options {
  margin-top: 11.2rem;
  height: 100px;
  transition: var(--transition);
}
.options > span {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  transition: var(--transition);
}
.options > span:hover {
  background: rgb(0, 0, 0);
  border-radius: 0.5rem;
  transition: var(--transition);
  color: red;
}
